<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    <div>
        <button type="button" class="btn btn-outline-success btn-lg" routerLinkActive="active" [routerLink]="['/admin']">Admin</button>
        <button type="button" class="btn btn-outline-success btn-lg" routerLinkActive="active" [routerLink]="['/user']">User</button>


    </div>
    <div class="container">

        <router-outlet></router-outlet>
    </div>

</body>

</html>